body {
    font-family: "Times New Roman", Times, serif;
    padding: 5px;
}



h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 20px;
}

h4 {
    text-align: center;
}

li {
  margin: 10px 0;
  }

ul li {
    font-size:24px;
  }

.tesla_wrapper {
    width: 100%;
    height: 40%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.graphs {
    display: inline-block;
    text-align: center;
    width: 49%;
    height: 49%;
}

.bad_tweet {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.full_size {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}

.table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  height: 60%;
}

.caption {
    text-align: center;
    font-size: 20px;
}

.other {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 49%;
    height: 49%;
}
